!5
html
  head
    title {{ title }}
    link rel='stylesheet' type='text/css' href='/static/css/style.css?{{ range(10000000000)|random }}'

    @assets "sass"
    %script type="text/css" src="/static/css/sass/style.sass?{{ range(10000000000)|random }}"

  body
    header
      div.logo
        img src="/static/img/logo.png" alt="Chekker"

      hspace-xl
        |

      div.header-links
        div.header-link
          a href="/"
            |Главная

        div.header-link
          a href="/labours"
            |Работы

        div.header-link
          a href="/classes"
            |Классы